<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Traffic of subscribers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/resources/webapp/static/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/resources/webapp/static/css/bootstrap-3.3.7.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/resources/webapp/static/css/bootstrap-combined.min.css" rel="stylesheet">
    <link  href="/resources/webapp/static/css/timePicker.css" rel="stylesheet" type="text/css">
</head>
<body>

    <nav class="navbar navbar-inverse" style="border-right-width: 0px;border-bottom-width: 0px;margin-bottom: 0px;">
        <div class="container-fluid" style="padding-right: 0px;">
        </div>
    </nav>




        <div class="col-lg-2 text-center" style="margin: auto;padding-left: 0px;padding-right: 0px;">
            <div id="datetimepicker1" class="input-append date">
                <input type="text" style="height: 40px;" id="time1" ></input>
                <span class="add-on" style="height: 40px;">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar" style="margin-top: 7px;"></i>
      </span>
            </div>
        </div>
        <div class="col-lg-2 text-centert" style=" margin: auto; padding-left: 0px;padding-left: 45px;">

            <div id="datetimepicker2" class="input-append date">
                <input type="text" style="height: 40px;" id="time2" ></input>
                <span class="add-on" style="height: 40px;">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar" style="margin-top: 7px;"></i>
      </span>
            </div>
        </div>

    <div class="col-lg-2 text-center" style=" margin: auto; padding-left: 0px;padding-left: 0px;">

        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropButton"style="height: 40px;">Subscribers
                <span class="caret"></span></button>
            <!--/*@thymesVar id="names" type="antlr.collections.List"*/-->
            <ul class="dropdown-menu" >
                <li th:each="name:${names}" th:onclick="'pickName(\'' + ${name}+ '\');'"><a href="#" th:text="${name}"></a></li>

            </ul>
        </div>
    </div>

</body>


<script type="text/javascript" src="/resources/webapp/static/js/jQueryDatePicker.js"></script>
<script type="text/javascript" src="/resources/webapp/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/resources/webapp/static/js/indexJS.js"></script>
<script type="text/javascript" src="/resources/webapp/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/resources/webapp/static/js/bootstrap-3.3.7.min.js"></script>


</html>